@import 'common/style/variable.scss';
@import 'common/style/mixin.scss';

.search-list {
    .search-item {
        display: flex;
        align-items: center;
        height: 40px;
        overflow: hidden;
        &.list-enter-active,
        &.list-leave-active {
            transition: all 0.1s;
        }
        &.list-enter,
        &.list-leave-to {
            height: 0;
        }
        .text {
            flex: 1;
            color: $color-text-l;
        }
        .icon {
            @include extend-click();
            .icon-delete {
                font-size: $font-size-small;
                color: $color-text-d;
            }
        }
    }
}
