.disc-transition-appear {
    transform: translateX(100%);
}
.disc-transition-appear-active {
    transform: translateX(0%);
    transition: all 500ms ease-out;
}

//.disc-transition-enter {
//  transform: translateX(100%);
//}
//.disc-transition-enter-active {
//  transform: translateX(0%);
//  transition: all 500ms ease-out;
//}

.disc-transition-exit {
    transform: translateX(0%) scale(0.5);
}
.disc-transition-exit-active {
    transform: translateX(100%) scale(1);
    transition: all 500ms ease-in;
}
