@import "common/style/variable.scss";

.singer-detail {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-background;
}

.message-enter {
  transform: translateX(100%);
}
.message-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease-out;
}
.message-exit {
  transform: translateX(0%) scale(0.5);
}
.message-exit-active {
  transform: translateX(100%) scale(1);
  transition: all 300ms ease-in;
}