@import "common/style/variable.scss";
.tab{
  display: flex;
  height: 44px;
  line-height: 44px;
  font-size: $font-size-medium;
  .tab-item{
    flex: 1;
    text-align: center;
    .tab-link{
      padding-bottom: 5px;
      color: $color-text-l;
    }
  }
  .link-selected .tab-link{
    color: $color-theme;
    border-bottom: 2px solid $color-theme;
  }
}





