@import 'common/style/variable.scss';
@import 'common/style/mixin.scss';

.rank {
    position: fixed;
    width: 100%;
    top: 88px;
    bottom: 0;
    .toplist {
        height: 100%;
        overflow: hidden;
        .item {
            display: flex;
            margin: 0 20px;
            padding-top: 20px;
            height: 100px;
            &:last-child {
                padding-bottom: 20px;
            }
            .icon {
                flex: 0 0 100px;
                width: 100px;
                height: 100px;
            }
            .songlist {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px;
                height: 100px;
                overflow: hidden;
                background: $color-highlight-background;
                color: $color-text-d;
                font-size: $font-size-small;
                .song {
                    @include no-wrap();
                    line-height: 26px;
                }
            }
        }
        .loading-container {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
