@import 'common/style/variable.scss';

.loading {
    width: 100%;
    text-align: center;

    .desc {
        line-height: 20px;
        font-size: $font-size-small;
        color: $color-text-l;
    }
}
