@import 'common/style/variable.scss';

.progress-circle {
    position: relative;
    circle {
        stroke-width: 8px;
        transform-origin: center;
        &.progress-background {
            transform: scale(0.9);
            stroke: $color-theme-d;
        }
        &.progress-bar {
            transform: scale(0.9) rotate(-90deg);
            stroke: $color-theme;
        }
    }
}
