@import 'common/style/variable.scss';
@import 'common/style/mixin.scss';

.no-result {
    text-align: center;

    .no-result-icon {
        width: 86px;
        height: 90px;
        margin: 0 auto;

        @include bg-image('no-result');

        background-size: 86px 90px;
    }

    .no-result-text {
        margin-top: 30px;
        font-size: $font-size-medium;
        color: $color-text-d;
    }
}
